<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
        <title>Oops!</title>
    </head>
    <body>
        <img src="/resources/incidentslogo.png">
    </body>
</html>