<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
        <link rel="preload" href="/resources/done.mp3" as="audio">
        <link rel="preload" href="/resources/sadness.ogg" as="audio">
        <link rel="preload" href="/resources/incidentslogo.png" as="image">
        <title>Oops!</title>
        <style>
            #wrapper {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            #logo {
                position: relative;
                left: 2.8em;
            }
        </style>
        <script>
            window.addEventListener("DOMContentLoaded", function() {
                if(document.location.search == "?messup") {
                    history.replaceState('', '', '/');
                    new Audio("/resources/done.mp3").play();
                    setTimeout(() => {
                        document.querySelector("audio").play();
                    }, 1000);
                } else {
                    document.querySelector("audio").play();
                }
            })
        </script>
    </head>
    <body>
        <audio loop src="/resources/sadness.ogg"></audio>
        <div id="wrapper">
            <a href="/reset"><img src="/resources/incidentslogo.png" id="logo"></a>
            <p>tracks the failures of the lit devs<br>here is the time since the last one:</p>
            <p><b><%= incidentTime %></b></p>
            <p>and the reason was:</p>
            <p><%- reason %></p>
        </div>
    </body>
</html>