<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
        <title>Oops!</title>
        <style>
            #wrapper {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            #logo {
                position: relative;
                left: 2.8em;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <img src="/resources/incidentslogo.png" id="logo">
            <p>tracks the failures of the lit devs<br>here is the time since the last one:</p>
            <p><b>1 day, 2 hours, 2 minutes</b></p>
        </div>
    </body>
</html>